@model Ogrenci

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Öğrenci Ekle</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="AdSoyad"></label>
			<input asp-for="AdSoyad" class="form-control" />
			<span asp-validation-for="AdSoyad" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="OgrenciNo"></label>
			<input asp-for="OgrenciNo" class="form-control" />
			<span asp-validation-for="OgrenciNo" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DTarih"></label>
			<input asp-for="DTarih" class="form-control" />
			<span asp-validation-for="DTarih" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Bolum"></label>
			<input asp-for="Bolum" class="form-control" />
			<span asp-validation-for="Bolum" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Oluştur</button>
		<a asp-controller="Ogrenci" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Geri Dön
		</a>
	</div>
</form>