@model OgrenciDers

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Öğrencinin dersini sil</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="DersId"></label>
			<input asp-for="DersId" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="OgrenciId"></label>
			<input asp-for="OgrenciId" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Sil</button>
		<a asp-controller="OgrenciDers" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Geri Dön
		</a>
	</div>
</form>