<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - okulSistem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/okulSistem.styles.css" asp-append-version="true" />
</head>
<body>
    <header> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand" >okulSistem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ders</a>
                            <div class="dropdown-menu">
                                <a asp-controller="Ders" asp-action="Create" class="dropdown-item">Giriş</a>
                                <a asp-controller="Ders" asp-action="DersSayfa" class="dropdown-item">Liste</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Öğrenci</a>
                            <div class="dropdown-menu">
                                <a asp-controller="Ogrenci" asp-action="Create" class="dropdown-item">Giriş</a>
                                <a asp-controller="Ogrenci" asp-action="Index" class="dropdown-item">Liste</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Öğrenci-Ders</a>
                            <div class="dropdown-menu">
                                <a asp-controller="OgrenciDers" asp-action="Create" class="dropdown-item">Giriş</a>
                                <a asp-controller="OgrenciDers" asp-action="Index" class="dropdown-item">Liste</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Yönetim</a>
                            <div class="dropdown-menu">
                                <a asp-controller="OkulYonetim" asp-action="Create" class="dropdown-item">Giriş</a>
                                <a asp-controller="OkulYonetim" asp-action="Index" class="dropdown-item">Liste</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div id="div_footer">
                Okulsistem 2022 | Tüm Hakları Saklıdır.
                </div>
            </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
