@model Ders

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Ders Sil</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Ad"></label>
			<input asp-for="Ad" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Kredisi"></label>
			<input asp-for="Kredisi" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="OkulYonetimId"></label>
			<input asp-for="OkulYonetimId" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Sil</button>
		<a asp-controller="Ders" asp-action="DersSayfa" class="btn btn-secondary" style="width:150px">
			Geri Dön
		</a>
	</div>
</form>